/*
 popup.js
*/
div.popup {
  max-width: 1000px;
  border: 5px solid #0099CC;
  padding: 5px;
  background-color: white;
  /* The following properties should not be changed */
  position: absolute;
  z-index: 1;
}

#popup_overlay {
  background-color: whitesmoke;
  /* The following properties should not be changed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

span.popup_link, a.popup_link {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.popup_draghandle {
  cursor: move;  
}

.dropv, .dropv ul {padding: 0; margin: 0; list-style: none;}
.dropv a {display: inline; width: 170px;}
.dropv li {float: left; padding: 0px 0px 0px 0px;}  /* all list items */
.dropv li ul {position: absolute; z-index:1;  
  padding: 0px 0px 0px 0px; width: 200px; left: -9999px;} /* second-level lists */
.dropv li:hover ul {left: auto; } /* nest list under hovered list items */
/*.dropv li ul li a {color: #ffffff; text-decoration: none; display: block;}
.dropv li ul li a:hover {color: yellow; background:#663399;}*/