informasi-publik
admin/backup_restore/backup_utils.php
akuntansi/aset/penghapusan_aset_util.php
akuntansi/aset/penghapusan_aset_util.php~
akuntansi/aset/utils.php~
akuntansi/koneksi/konek.php
akuntansi/koneksi/konek1.php
api/koneksi.php
apotek/koneksi/Copy of konekMssql.php
apotek/koneksi/konek_mysqli.php
apotek/koneksi/konek.php
apotek/koneksi/konekBilling.php
apotek/koneksi/konekMssql.php
apotek/transaksi/kartustok_edittgl.php
aset/koneksi/konek  res @ rsud.php
aset/koneksi/konek.php
billing/antrian/pelayananall.php
billing/antrian/pelayananall1.php
billing/antrian/pelayanankunjungan_utils1.php
billing/koneksi/kon.php
billing/koneksi/konek (2).php
billing/koneksi/konek.php
billing/koneksi/konek2.php
inc/global.inc
inc/images/portal/konek.php
include/konek.php
keuangan/koneksi/konek.php
inc/global.inc
billing/koneksi/konek.php
admin/backup_restore/backup_utils.php
admin/backup_restore/backup.php
